<div class="pagebody everything">

  <div class="grid">
    <% @trucks = trucks if @trucks.nil? %>
    <% @trucks.each do |truck| %>
      <div class="grid-item">
        <div class="card">
          <%= image_tag 'mj22_mjs2_20220116_sanantoniotx_kl_11488.jpeg', class: 'card-img'%>
          <div class="card-content">
            <h1 class="card-header"><%= link_to("#{truck.name}", truck_path(truck)) %></h1>
            <ul class="card-text">
              <li>some</li>
              <li>thing</li>
              <li>to </li>
              <li>say</li>
            </ul>
          </div>
        </div>
      </div>
    <% end %>
  </div>

</div>
