<h1>CHECK OUT OUR TRUCKS</h1>
<h4>Click for details</h4>
<br>

<ul>
  <% @trucks.each do |truck| %>
    <li><%= link_to("#{truck.name}", truck_path(truck)) %></li>
    <br>
    <%= link_to("HOME PAGE", root_path) %>
<br>
<%= link_to("VIEW MORE TRUCKS", trucks_path ) %>
  <% end %>
</ul>

<%= link_to("HOME PAGE", root_path) %>
