<body class=body>
  <div class="homepage">
    <h1 class="banner-title">Monst-AIR BnB</h1>
    <div class = "links">
      <h3 class="link"><%= link_to("VIEW ALL TRUCKS", trucks_path) %></h3>
      <h3 class="link"><%= link_to("RENT YOUR TRUCK", new_truck_path) %></h3>
    </div>
  </div>
</body>
