<div class="banner">
 <div class="banner-container">
    <h1 class="banner-header">MONST-AIR TRUCK B'N'B</h1>
  </div>
  <div class="banner-container">
    <h3 class="link"><%= link_to("VIEW ALL TRUCKS", trucks_path) %></h3>
    <h3 class="link"><%= link_to("RENT YOUR TRUCK", trucks_path) %></h3>
  </div>
</div>
