<head>
  <link rel="stylesheet" href="/app/assets/stylesheets/pages/_home.scss">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Luckiest+Guy&display=swap" rel="stylesheet">
</head>

<body class="homepage">
 <div class="container">
    <h1 class="homepagetitle">MONST-AIR TRUCK B'N'B</h1>
  </div>
  <div class="container">
    <h3 class="link"><%= link_to("VIEW ALL TRUCKS", trucks_path) %></h3>
    <h3 class="link"><%= link_to("RENT YOUR TRUCK", trucks_path) %></h3>
  </div>
</body>
