.container {
      display: flex;
      align-items: center;
      justify-content: center;
      align-items: center;
}

.containertwo {
  margin: 3px auto;
  width: 1055px;

}


    //justify-content: center;
    //align-items: center;
    //height: 100vh;
    //width: 400px;

    //flex-direction: column;
