.everything {
  box-sizing: border-box;
  font-size: 62.5%;
}

.pagebody {
  background-color: #ffffff;
  font-family: $body-font;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  padding: 30px;
}

.grid {
  display: grid;
  width: 100%;
  gap: 6rem;
  grid-template-columns: repeat(auto-fit, minmax(25rem, 1fr));
  align-items: start;
}

.index-grid-item{
  display: flex;
  flex-direction: column;
  background-color: rgb(238, 121, 33);
  transition: box-shadow 0.3s ease;
  box-shadow: 0 0 0 rgba(0, 0, 0, 0);
}

.index-grid-item:hover {
  box-shadow: 0px 0 50px orangered;
}

.card-index-content{
  align-self: center;
  margin: 20px;
  width: 100%;
}

.index-grid-item,.card-index-header, .card-index-text{
  border-style: solid;
  border-width: thick;
  border-color: black;
}

.card-index-header{
  align-self: center;
  margin: 20px;
  text-align: center;
  background-color: orangered;
  padding: 10px;
  color:white;
  font-size: 20px;
  a{
    color:white;
    font-size: 50px;
    border: black;
    border-width: thick;
    border-style: solid;
    font-size: 50px;
    color: black;
    text-decoration: none;
    padding: 10px 10px 10px 0;
    background-color: white;
    transition: background-color 0.3s, color 0.3s;
    padding-top: 20px;
    padding-left: 10px;
    padding-right: 10px;
  }
  a:hover{
    background-color: orange;
    color: black;
  }
}

.index-truck-details{
  margin-top: 30px;
}

.card-index-text{
  margin: 20px;
  align-self: center;
  list-style: none;
  color:white;
  font-size: 20px;
  text-align: center;
  padding-top: 10px;
  padding-bottom: 10px;
}

@media only screen and (max-width: 60em) {
  .pagebody {
    padding:3rem;
  }
  .graid {
    gap: 3rem;
  }
}
